<?xml version="1.0"?>
<launch>

  <!-- Move Base-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <rosparam file="$(find tas)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find tas)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tas)/launch/config/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find tas)/launch/config/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find tas)/launch/config/move_base/base_local_planner_params.yaml" command="load" />
  </node>

  <!-- Run trajectory control -->
  <node pkg="tas_autonomous_control" type="tas_autonomous_control_node" name="tas_autonomous_control_node" output="screen"/>


</launch>
