<?xml version="1.0"?>
<launch>
  
  <!-- merge lasers -->
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <rosparam>
      destination_frame: base_link
      scan_destination_topic: /scan
      laserscan_topics: /scan_front /scan_back
      angle_min: -3.14159
      angle_max: 3.14159
      range_min: 0
      range_max: 100
    </rosparam>
  </node>

  <!-- Hector mapping -->
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <rosparam>
      map_frame: map
      odom_frame: odom
      map_update_distance_thresh: 0.01
      map_update_angle_thresh: 0.001
      map_size: 2048
#      map_pub_period: 0.2
#      update_factor_free: 0.2
#      update_factor_occupied: 0.9
      laser_min_dist: 0.1
      laser_max_dist: 100
      pub_map_odom_transform: false
      pub_map_scanmatch_transform: false
    </rosparam>
  </node>

</launch>
