local_costmap:
  global_frame: /map
  robot_base_frame: base_link
  update_frequency: 5.0
  publish_frequency: 2.0
  width: 10
  height: 10
  resolution: 0.05
  static_map: false
  rolling_window: true
