<?xml version="1.0"?>
<launch>
  <!-- Start Navigation Stack -->

  <!--
  <param name="/use_sim_time" value="true"/>
  -->
 
  <!--
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node">
    <param name="two_d_mode" value="true"/>
    <param name="odom0" value="example/odom"/>
    <rosparam param="odom0_config">
      [false, false, false,
      false, false, false,
      true,  false, false,
      false, false, false,
      false, false, false]
    </rosparam>
    <param name="odom1" value="example/odom"/>
    <param name="imu0" value="example/imu/data"/>
  </node>
  -->
 
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <param name="map_frame" value="odom"/> 
    <param name="odom_frame" value="base_link"/>
    <remap from="/map" to="/hector_map"/>
  </node>
  
  <!--
  <node pkg="tas_odometry" type="perfect_odometry" name="perfect_odometry" output="screen" />
  -->
      
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find tas)/launch/config/map_server/LSR_3.yaml"/>
  
  <node pkg="amcl" type="amcl" name="amcl" output="screen" respawn="true">
	  <param name="initial_pose_x" value="23.50"/>
	  <param name="initial_pose_y" value="19.00"/>
	  <param name="initial_pose_a" value="3.0"/>
	  <param name="initial_cov_xx" value="3"/>
	  <param name="initial_cov_yy" value="3"/>
	  <param name="initial_cov_aa" value="0.5"/>
  </node>
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <rosparam file="$(find tas)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find tas)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tas)/launch/config/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find tas)/launch/config/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find tas)/launch/config/move_base/base_local_planner_params.yaml" command="load" />
  </node>
  <!--
  -->
  
  <!--
  <node pkg="tas_autonomous_control" type="tas_autonomous_control_node" name="tas_autonomous_control_node" output="screen"/>
  -->
  
</launch>
