<?xml version="1.0"?>
<launch>
  <!-- Start Navigation Stack -->
 

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" output="screen" args="0 0 0  0 0 0 map odom 100" />

  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <param name="map_frame" value="odom"/>
    <param name="odom_frame" value="base_link"/>
    <param name="map_size" value="2048"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_to_nav" output="screen" args="0 0 0  0 0 0 map nav 100" />

  <node pkg="hector_pose_estimation" type="pose_estimation" name="h_pose_est_node"> 
     <remap from="/imu" to="/hector_pose_estimation/imu"/>
  </node>

  <node pkg="message_to_tf" type="message_to_tf" name="message_to_tf1" args="/pose/"/>
  
      
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find tas)/launch/config/map_server/LSR_3.yaml">
    <remap from="/map" to="/map_server_map"/>
  </node>
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <rosparam file="$(find tas)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find tas)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tas)/launch/config/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find tas)/launch/config/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find tas)/launch/config/move_base/base_local_planner_params.yaml" command="load" />
  </node>
  
</launch>
