<?xml version="1.0"?>

<launch>
   <node pkg="tas_autonomous_control" type="longitudinal_lateral_controller" name="longitudinal_lateral_controller" output="screen" >
      <rosparam>
         vel_ref: 0.8
         kvec_1vel_dotphi: 0.5
         kvec_1vel_phi: -0.8
         kvec_1vel_d: -0.5

         kvec_0vel_dotphi: 0.5
         kvec_0vel_phi: -0.8
         kvec_0vel_d: -0.5

         acc_distance: 2.2
         decc_distance: 3
         corner_speed: 0.2
         max_vel: 3
      </rosparam>
   </node>
</launch>
